<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.rms.mapper.DepartmentMapper">
    <sql id="Base_Column_List">
        id, name, company, comment
    </sql>
    <sql id="UUID_Column_List">
        BIN_TO_UUID (id) as id, name, company, comment
    </sql>
    <select id="selectByPrimaryKey" parameterType="String" resultType="com.ibm.rms.pojo.Department">
        select
        <include refid="UUID_Column_List"/>
        from t_department
        where id = UUID_TO_BIN(#{id})
    </select>
    <select id="selectAll" resultType="com.ibm.rms.pojo.Department">
        select
        <include refid="UUID_Column_List"></include>
        from t_department
    </select>
    <select id="selectAllByPageCondition" resultType="com.ibm.rms.pojo.Department">
        select
        <include refid="UUID_Column_List"></include>
        from t_department
        <where>
            <if test="company != null and company != ''">
                company like '%' #{company} '%'
            </if>
            <if test="deptName != null and deptName != ''">
                and name like '%' #{deptName} '%'
            </if>
        </where>
        limit #{pageNo}, #{pageSize}
    </select>
    <select id="countDeptListTotalSizeByCondition" resultType="java.lang.Long">
        select count(*)
        from t_department
        <where>
            <if test="company != null and company != ''">
                company like '%' #{company} '%'
            </if>
            <if test="deptName != null and deptName != ''">
                and name like '%' #{deptName} '%'
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="String">
        delete
        from t_department
        where id = UUID_TO_BIN(#{id})
    </delete>
    <insert id="insert" parameterType="com.ibm.rms.pojo.Department">
        insert into t_department (id, name, comment)
        values (UUID_TO_BIN(UUID(), true), #{name,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ibm.rms.pojo.Department">
        insert into t_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="comment != null">
                comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                UUID_TO_BIN(UUID(), true),
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ibm.rms.pojo.Department">
        update t_department
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
        </set>
        where id = UUID_TO_BIN(#{id})
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ibm.rms.pojo.Department">
        update t_department
        set name    = #{name,jdbcType=VARCHAR},
            company = #{company,jdbcType=VARCHAR},
            comment = #{comment,jdbcType=VARCHAR}
        where id = UUID_TO_BIN(#{id})
    </update>
</mapper>
