<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.rms.mapper.PermissionMapper">
    <sql id="Base_Column_List">
        id, name, code, path, is_menu, order_by
    </sql>
    <sql id="UUID_Column_List">
        BIN_TO_UUID (id) as id, name, code, path, is_menu, order_by
    </sql>
    <select id="selectByPrimaryKey" parameterType="String" resultType="com.ibm.rms.pojo.Permission">
        select
        <include refid="UUID_Column_List"/>
        from t_permission
        where id = UUID_TO_BIN(#{id})
    </select>
    <select id="selectAllPermissionVoList" resultType="com.ibm.rms.pojo.vo.PermissionVo">
        select BIN_TO_UUID(id)                               as 'key',
               concat(name, concat(' [', concat(code, ']'))) as label
        from t_permission
        order by order_by
    </select>
    <select id="selectAllByRoleId" resultType="java.lang.String">
        select
            BIN_TO_UUID(p.id)
        from t_role_permission rp
                 left join t_permission p on rp.permission_id = p.id
        where rp.role_id = UUID_TO_BIN(#{id})
        order by p.order_by
    </select>
    <select id="selectAll" resultType="com.ibm.rms.pojo.Permission">
        select
        <include refid="UUID_Column_List"></include>
        from t_permission
        order by order_by
    </select>
    <select id="selectAllByPageCondition" resultType="com.ibm.rms.pojo.Permission">
        select
        <include refid="UUID_Column_List"></include>
        from t_permission
        order by order_by
        limit #{pageNo}, #{pageSize}
    </select>
    <select id="countPermissionTotalSize" resultType="java.lang.Long">
        select count(*)
        from t_permission
    </select>
    <select id="selectNamePathByUserId" resultType="com.ibm.rms.pojo.Permission">
        select DISTINCT p.name as name, p.path as path
        from t_user u
                 left join t_user_role ur on u.id = ur.user_id
                 left join t_role r on ur.role_id = r.id
                 left join t_role_permission rp on r.id = rp.role_id
                 left join t_permission p on rp.permission_id = p.id
        where u.id = UUID_TO_BIN(#{id})
          and p.is_menu = 1
        order by order_by
    </select>
    <select id="getOverviewPathList" resultType="com.ibm.rms.pojo.Permission">
        select DISTINCT p.name as name, p.path as path
        from t_user u
                 left join t_user_role ur on u.id = ur.user_id
                 left join t_role r on ur.role_id = r.id
                 left join t_role_permission rp on r.id = rp.role_id
                 left join t_permission p on rp.permission_id = p.id
        where u.id = UUID_TO_BIN(#{id})
          and p.is_menu = 2
        order by order_by
    </select>
    <delete id="deleteByPrimaryKey" parameterType="String">
        delete
        from t_permission
        where id = UUID_TO_BIN(#{id})
    </delete>
    <insert id="insert" parameterType="com.ibm.rms.pojo.Permission">
        insert into t_permission (id, name, code,
                                  path, is_menu, order_by)
        values (UUID_TO_BIN(UUID(), true), #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
                #{path,jdbcType=VARCHAR}, #{isMenu,jdbcType=INTEGER}, #{orderBy,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.ibm.rms.pojo.Permission">
        insert into t_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="isMenu != null">
                is_menu,
            </if>
            <if test="orderBy != null">
                order_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            UUID_TO_BIN(UUID(), true),
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="isMenu != null">
                #{isMenu,jdbcType=INTEGER},
            </if>
            <if test="orderBy != null">
                #{orderBy,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ibm.rms.pojo.Permission">
        update t_permission
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="isMenu != null">
                is_menu = #{isMenu,jdbcType=INTEGER},
            </if>
            <if test="orderBy != null">
                order_by = #{orderBy,jdbcType=INTEGER},
            </if>
        </set>
        where id = UUID_TO_BIN(#{id})
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ibm.rms.pojo.Permission">
        update t_permission
        set name     = #{name,jdbcType=VARCHAR},
            code     = #{code,jdbcType=VARCHAR},
            path     = #{path,jdbcType=VARCHAR},
            is_menu  = #{isMenu,jdbcType=INTEGER},
            order_by = #{orderBy,jdbcType=INTEGER}
        where id = UUID_TO_BIN(#{id})
    </update>
</mapper>
